root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

# 4 space indentation
[*.{js,jsx,html}]
indent_style = tab
indent_size = 4

# 2 space indentation
[*.{css,scss,sass,json}]
indent_style = tab
indent_size = 2
